
.footer{
    background: #181818;
    bottom: 0;
}

.align-item-center{
    display: flex;
    align-items: center;
}
.social-media{
    display: flex;
    justify-content: space-between;
}

.sm-icon{
    font-size: 20px;
    color: white;
}

.phone-number{
    color: white;
}

.logo-name{
    color: white;
    text-decoration: none;
    font-size: larger;
}

.small-screen{
    display: none;
}

@media screen and (max-width : 768px) {

    .small-screen{
        display: block;
        padding-top: 15px;
    }

    .big-screen{
        display: none;
    }

    .social-media, .phone-number, .logo_name, .copyright{
        width: 60%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
    }
}